In [1]:
import random
import pandas as pd
from datetime import datetime, timedelta

people = ["A", "B", "C", "D"]
start_date = datetime(2023, 1, 1)
days = 365
data = []

for day in range(days):
    current_date = start_date + timedelta(days=day)
    day_of_week = current_date.weekday()  # Monday=0, Sunday=6
    
    for person in people:
        # مثال: لو اليوم يوم عمل
        if day_of_week < 5:  # Monday-Friday
            # توليد وقت خروج
            exit_time = current_date + timedelta(
                hours=7 + random.uniform(0, 1),  # من 7 إلى 8 صباحاً
            )
            data.append([person, "Exit", exit_time])
            
            # توليد وقت دخول
            enter_time = current_date + timedelta(
                hours=16 + random.uniform(0, 1),  # من 16 إلى 17 مساءً
            )
            data.append([person, "Enter", enter_time])
        else:
            # عطلة نهاية الأسبوع؛ احتمالية خروجه أقل أو في وقت مختلف
            # لنفرض 50% أن يخرج
            if random.random() < 0.5:
                exit_time = current_date + timedelta(
                    hours=9 + random.uniform(0, 3),  # من 9 إلى 12 ظهراً
                )
                data.append([person, "Exit", exit_time])
                
                enter_time = exit_time + timedelta(
                    hours=3 + random.uniform(0, 2)  # يرجع بعد 3~5 ساعات
                )
                data.append([person, "Enter", enter_time])
            # في حال لم يخرج، لا نضيف سجل

df = pd.DataFrame(data, columns=["PersonID", "Event", "Timestamp"])
df = df.sort_values(by=["Timestamp"]).reset_index(drop=True)
df.head(20)

   PersonID  Event                  Timestamp
0         C   Exit 2023-01-01 09:41:27.439329
1         C  Enter 2023-01-01 13:48:40.697000
2         D   Exit 2023-01-02 07:04:17.644872
3         B   Exit 2023-01-02 07:15:54.159539
4         A   Exit 2023-01-02 07:32:26.580594
5         C   Exit 2023-01-02 07:56:15.155773
6         D  Enter 2023-01-02 16:22:56.810290
7         C  Enter 2023-01-02 16:34:52.810957
8         A  Enter 2023-01-02 16:52:41.833874
9         B  Enter 2023-01-02 16:55:25.620158
10        C   Exit 2023-01-03 07:04:13.455324
11        A   Exit 2023-01-03 07:17:04.527569
12        D   Exit 2023-01-03 07:42:02.260456
13        B   Exit 2023-01-03 07:59:59.729221
14        C  Enter 2023-01-03 16:07:32.526817
15        A  Enter 2023-01-03 16:09:47.566552
16        B  Enter 2023-01-03 16:11:18.314233
17        D  Enter 2023-01-03 16:16:18.827256
18        D   Exit 2023-01-04 07:31:41.770257
19        C   Exit 2023-01-04 07:43:44.104348